@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-brand-50: #f0fdf4;
  --color-brand-100: #dcfce7;
  --color-brand-500: #22c55e;
  --color-brand-600: #16a34a;
  --color-brand-900: #14532d;
  
  --color-surface: #ffffff;
  --color-surface-muted: #f9fafb;
}

@layer base {
  body {
    font-family: var(--font-inter);
    background-color: var(--color-surface-muted);
    color: #111827;
  }
}
